MERCHANT_PUBLIC_KEY=MERCHANT_PUBLIC_KEY
API_PASSWORD=API_PASSWORD


GEIDEA_API_URL=https://api.ksamerchant.geidea.net/payment-intent/api/v2/direct/session
# MERCHANT_REFERENCE_ID=my-app-ref-123
PAYMENT_LANGUAGE=en
TIMEZONE=Asia/Riyadh


# CALLBACK_URL=https://www.google.com/search?q=https://your-backend.com/api/v1/payment/callback
# RETURN_URL=https://www.google.com/search?q=https://your-frontend.com/payment/success